*.[oa]
*.la
*.lo
*.swp
build
config.log
tags
/xrdp/autom4te.cache
/xrdp/common/.libs/
/xrdp/genkeymap/xrdp-genkeymap
/xrdp/keygen/.libs/
/xrdp/keygen/xrdp-keygen
/xrdp/libxrdp/.libs/
/xrdp/logd/.libs/
/xrdp/logd/xrdp-logd
/xrdp/mc/.libs/
/xrdp/printerd/.libs/
/xrdp/printerd/xrdp-printerd
/xrdp/rdp/.libs/
/xrdp/seamlessrdpshell/.libs/
/xrdp/seamlessrdpshell/XHook
/xrdp/sesman/.libs/
/xrdp/sesman/chansrv/.libs/
/xrdp/sesman/chansrv/cliprdr/.libs/
/xrdp/sesman/chansrv/cliprdr/vchannel_cliprdr
/xrdp/sesman/chansrv/rdpdr/.libs/
/xrdp/sesman/chansrv/rdpdr/vchannel_rdpdr
/xrdp/sesman/chansrv/rdpsnd2/.libs/
/xrdp/sesman/chansrv/rdpsnd2/vchannel_rdpsnd
/xrdp/sesman/chansrv/xrdp-chansrv
/xrdp/sesman/libscp/.libs/
/xrdp/sesman/sessvc/.libs/
/xrdp/sesman/sessvc/xrdp-sessvc
/xrdp/sesman/tools/.libs/
/xrdp/sesman/tools/xrdp-sesadmin
/xrdp/sesman/tools/xrdp-sesrun
/xrdp/sesman/tools/xrdp-sestest
/xrdp/sesman/xrdp-sesman
/xrdp/vchannel/.libs/
/xrdp/vnc/.libs/
/xrdp/xrdp/.libs/
/xrdp/xrdp/xrdp
/xrdp/xup/.libs/
/xrdp/Makefile

/xrdp/common/Makefile
/xrdp/config.status
/xrdp/config_ac.h
/xrdp/configure
/xrdp/configure.ac
/xrdp/docs/Makefile
/xrdp/docs/man/Makefile
/xrdp/genkeymap/Makefile
/xrdp/instfiles/Makefile
/xrdp/instfiles/Xserver/Makefile
/xrdp/instfiles/init/Makefile
/xrdp/instfiles/pam.d/Makefile
/xrdp/keygen/Makefile
/xrdp/libtool
/xrdp/libxrdp/Makefile
/xrdp/logd/Makefile
/xrdp/mc/Makefile
/xrdp/printer/Makefile
/xrdp/printerd/Makefile
/xrdp/python/Makefile
/xrdp/rdp/Makefile
/xrdp/seamlessrdpshell/Makefile
/xrdp/sesman/Makefile
/xrdp/sesman/chansrv/Makefile
/xrdp/sesman/chansrv/cliprdr/Makefile
/xrdp/sesman/chansrv/rdpdr/Makefile
/xrdp/sesman/chansrv/rdpsnd2/Makefile
/xrdp/sesman/libscp/Makefile
/xrdp/sesman/sessvc/Makefile
/xrdp/sesman/tools/Makefile
/xrdp/setup.py
/xrdp/vchannel/Makefile
/xrdp/vnc/Makefile
/xrdp/xrdp/Makefile
/xrdp/xup/Makefile

/xrdp/Makefile.in
/xrdp/Xserver/hw/rdp/Makefile
/xrdp/common/Makefile.in
/xrdp/docs/Makefile.in
/xrdp/docs/man/Makefile.in
/xrdp/fontdump/Makefile
/xrdp/genkeymap/Makefile.in
/xrdp/instfiles/Makefile.in
/xrdp/instfiles/Xserver/Makefile.in
/xrdp/instfiles/init/Makefile.in
/xrdp/instfiles/pam.d/Makefile.in
/xrdp/keygen/Makefile.in
/xrdp/libxrdp/Makefile.in
/xrdp/logd/Makefile.in
/xrdp/mc/Makefile.in
/xrdp/printer/Makefile.in
/xrdp/printerd/Makefile.in
/xrdp/python/Makefile.in
/xrdp/rdp/Makefile.in
/xrdp/seamlessrdpshell/Makefile.in
/xrdp/sesman/Makefile.in
/xrdp/sesman/chansrv/Makefile.in
/xrdp/sesman/chansrv/cliprdr/Makefile.in
/xrdp/sesman/chansrv/rdpdr/Makefile.in
/xrdp/sesman/chansrv/rdpsnd2/Makefile.in
/xrdp/sesman/libscp/Makefile.in
/xrdp/sesman/sessvc/Makefile.am
/xrdp/sesman/sessvc/Makefile.in
/xrdp/sesman/tools/Makefile.in
/xrdp/vchannel/Makefile.in
/xrdp/vnc/Makefile.in
/xrdp/xrdp/Makefile.in
/xrdp/xup/Makefile.in

