*.[oa]
*.la
*.lo
build
/xrdp/common/.libs/
/xrdp/genkeymap/xrdp-genkeymap
/xrdp/keygen/.libs/
/xrdp/keygen/xrdp-keygen
/xrdp/libxrdp/.libs/
/xrdp/logd/.libs/
/xrdp/logd/xrdp-logd
/xrdp/mc/.libs/
/xrdp/printerd/.libs/
/xrdp/printerd/xrdp-printerd
/xrdp/rdp/.libs/
/xrdp/seamlessrdpshell/.libs/
/xrdp/seamlessrdpshell/XHook
/xrdp/sesman/.libs/
/xrdp/sesman/chansrv/.libs/
/xrdp/sesman/chansrv/cliprdr/.libs/
/xrdp/sesman/chansrv/cliprdr/vchannel_cliprdr
/xrdp/sesman/chansrv/rdpdr/.libs/
/xrdp/sesman/chansrv/rdpdr/vchannel_rdpdr
/xrdp/sesman/chansrv/rdpsnd2/.libs/
/xrdp/sesman/chansrv/rdpsnd2/vchannel_rdpsnd
/xrdp/sesman/chansrv/xrdp-chansrv
/xrdp/sesman/libscp/.libs/
/xrdp/sesman/sessvc/.libs/
/xrdp/sesman/sessvc/xrdp-sessvc
/xrdp/sesman/tools/.libs/
/xrdp/sesman/tools/xrdp-sesadmin
/xrdp/sesman/tools/xrdp-sesrun
/xrdp/sesman/tools/xrdp-sestest
/xrdp/sesman/xrdp-sesman
/xrdp/vchannel/.libs/
/xrdp/vnc/.libs/
/xrdp/xrdp/.libs/
/xrdp/xrdp/xrdp
/xrdp/xup/.libs/

